<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tradeextension</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/elmiragahverdieva/TradeExtension/.venv/bin/python</string>
        <string>-m</string>
        <string>src.main</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/elmiragahverdieva/TradeExtension</string>

    <key>StandardOutPath</key>
    <string>/Users/elmiragahverdieva/TradeExtension/nohup.out</string>

    <key>StandardErrorPath</key>
    <string>/Users/elmiragahverdieva/TradeExtension/nohup.out</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
